@keyframes shooting {
  0% {
    transform: translateX(0) translateY(0) rotate(-45deg);
    opacity: 1;
  }

  100% {
    transform: translateX(-1000px) translateY(600px) rotate(-45deg);
    opacity: 0;
  }
}



/* efeito nas mensagens */
.qr-message {
  font-size: 14px;
  font-weight: 600;
  color: transparent;
  background: linear-gradient(45deg, #acd4fdea 0%, #fffffff3 50%, #707277f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  animation: fadeInOut 20s ease-in-out infinite;
  position: relative;
  bottom: 25px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}


.qr-container {
  padding: 0px 0px 10px 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 260px;
  width: 250px;
}

.title-qrcode {
  text-align: center;
  margin: 7px auto 0px auto;
  border-radius: 10px;
}

.custom-qr {
  border-radius: 10px;
}

.qr-container h2 {
  color: white;
  font-size: 1rem;
  position: relative;
  top: -2px;
}

.qr-code-container-streamer {
  background: linear-gradient(45deg, #31455a 0%, #353535 50%, #3a3c41 100%);
  width: max-content;
  padding: 15px;
  margin: 0px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}