.terms-p{
    font-size: 0.75rem;
    color: rgba(43, 43, 48, 0.623);
    text-align: center;
}body.dark .terms-p{
    color: rgba(255, 255, 255, 0.623);
}


.terms-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(233, 237, 240);
    border-radius: 5px;
    padding: 2px 5px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    
}body.dark .terms-title{
    background-color: rgb(52, 56, 59);
    color: white;
}

.terms-container p strong {
    font-size: 1.1rem;
}body.dark .terms-container p strong {
    color: white;
}

.terms-container{
    background-color: rgb(243, 243, 243);
    border: 1px solid #ccc;
    padding: 25px;
    color: rgb(50, 50, 63);   
}body.dark .terms-container{
    background-color: rgb(33, 38, 41);
    border: 1px solid #3f3c3c;
    color: rgb(184, 184, 192); 
}


.terms-container ul li{
    list-style: circle;
    margin-left: 30px;
}

@media (max-width: 425px) {
    .terms-container {
        font-size: 0.75rem;
        overflow-y: auto;       /* ativa scroll vertical se necessário */
        height: 100vh;          
        padding: 25px;
    }

    .terms-container p strong{
        font-size: 0.85rem;
    }

    .terms-container p {
        margin: 10px;
    }
    
    .terms-title{
        font-size: 1.1rem;
        margin-bottom: 10px;

    }

    body.dark .terms-container {
        color: pink; /* ou a cor que quiser para dark mode */
    }
}
