.alert-container {
    padding: 12px;
    background: linear-gradient(90deg, #ffffffff, #ffdfdfff);
    width: 100%;
    border-radius: 10px;
    color: #af0000ff;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    justify-content: space-between;
    position: relative;
    margin-bottom: 15px;
}

body.dark .alert-container {
    background: linear-gradient(90deg, rgb(38, 42, 51), rgb(26, 30, 37));
    border-color: #525252;
}

.alert-message {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}



.alert-close {
    background: transparent !important;
    border: none !important;
    color: #af0000ff;
    font-weight: bold;
    width: max-content;
    height: max-content;
    cursor: pointer;
    padding-left: 16px;
    position: relative;
    top: -20px;
    right: -18px;
    font-size: 16px;
    
}

.alert-close:hover {
    opacity: 0.7;
}

.alert-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #eb0000ff;
    width: 100%;
    animation-name: shrink;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes shrink {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}