@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Saira", sans-serif;
}

body {
    min-height: 100vh;
    background: transparent;
    background-size: 400% 400%;
    animation: gradientMove 8s ease infinite;
    position: relative;
    overflow: hidden;
}

audio {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #1a0404;
    outline: none;
}
