@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Saira", sans-serif;
}

body {
  min-height: 100vh;
  background: transparent;
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
  position: relative;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
}

body.dark {
  background-color: rgb(38, 40, 44);
}

/* ===================== */
/* 🎨 Tema Light (padrão) */
/* ===================== */
:root {
  --bg-color: #f9f9f9;
  --text-color: #1e1e1e;
  --navbar-bg: #ffffff;
  --nav-item-color: #444;
  --nav-item-hover-bg: #e6e6e6;
  --nav-item-active-bg: #dbeafe;
  /* azul clarinho */
  --nav-item-active-color: #1d4ed8;
  /* azul principal */
  --border-color: #ddd;
}

/* ===================== */
/* 🌙 Tema Dark */
/* ===================== */
body.dark {
  --bg-color: #121212;
  --text-color: #cfcfcf;
  --navbar-bg: #1f1f1f;
  --nav-item-color: #9ca3af;
  /* cinza claro */
  --nav-item-hover-bg: #2c2c2c;
  --nav-item-active-bg: rgba(59, 130, 246, 0.15);
  /* azul transparente */
  --nav-item-active-color: #3b82f6;
  /* azul vivo */
  --border-color: #464545;
}


input[type="checkbox"] {
  appearance: none;
  /* tira o estilo nativo */
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 20px;
  height: 20px;
  border: 2px solid #CCC;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

body.dark input[type="checkbox"] {
  background-color: rgb(57, 74, 82);
  border: 2px solid #6b6b6b;
}

input[type="checkbox"]:checked {
  background-color: rgb(190, 192, 194);
  border-color: white;
  color: white;

}

body.dark input[type="checkbox"]:checked {
  background-color: rgb(118, 122, 128);
  color: white;
}

input[type="checkbox"]:checked::after {
  content: "◯";
  font-size: 14px;
}